*.mk
*.log

# research
docs/research/*

# binaries
src/aws-infrastructure/provision
src/dsql-schema/schema
src/launcher/builds/*
src/launcher/launcher
src/launcher/secrets.go
src/frontend/bootstrap
src/frontend/main.zip
src/frontend/secrets.go